@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Bem-vindo ao .NET Resultados de Loterias</h1>
        <img style="width: 200px" src="http://loterias.caixa.gov.br/wps/wcm/connect/3dbf7d87-1ea2-4b63-9930-71641c746a6d/01_Mega_Sena_WPC.png?MOD=AJPERES&CACHEID=3dbf7d87-1ea2-4b63-9930-71641c746a6d" alt="Mega Sena">
        <img style="width: 200px" src="http://loterias.caixa.gov.br/wps/wcm/connect/c5bcb530-8654-4e71-a4bc-6bb16b96b56e/02_Quina.png?MOD=AJPERES&CACHEID=c5bcb530-8654-4e71-a4bc-6bb16b96b56e" alt="Quina">
        <img style="width: 200px" src="http://loterias.caixa.gov.br/wps/wcm/connect/c6e414a7-ab65-4a06-b812-745798a9f362/10_Lotofacil.png?MOD=AJPERES&CACHEID=c6e414a7-ab65-4a06-b812-745798a9f362" alt="Lotofácil">
        <img style="width: 200px" src="http://loterias.caixa.gov.br/wps/wcm/connect/465249f9-422f-4132-8c69-7512e7304318/03_Dupla_Sena.png?MOD=AJPERES&CACHEID=465249f9-422f-4132-8c69-7512e7304318" alt="Dupla Sena">
        <img style="width: 200px" src="http://loterias.caixa.gov.br/wps/wcm/connect/5d1b99ee-b6fd-4d90-a6ee-859bfa8f17d0/Lotomania-banner.png?MOD=AJPERES&CACHEID=5d1b99ee-b6fd-4d90-a6ee-859bfa8f17d0" alt="Lotomania">
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
